body{
    font-family: sans-serif;
    margin-top: 60px;
}

.center{
    text-align:center;
}

.text-big{
    font-weight:bold;
}

.container{
        margin: 0 auto;
        font-family: sans-serif;
        padding-left: 20;
        padding-right: 20;
        padding-top: 30;
        color: #356b99;
}

.projects{
        max-width: 300px;
        margin: 0 auto;
        padding-left: 20;
        padding-right: 20;
        padding-top: 0;
        float: left;
}


.principal{
    width: 170px;
    height: 170px;
    background-color: #349ccc;
    border-radius: 120px;
    padding: 30px;
    float: right;
}

.principal_petit{
  width: 170px;
  height: 170px;
  background-color: #ffffff;
  border-radius: 170px;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}

.principal_petit:hover{
  -webkit-transform: scale(1.1);
  -webkit-transition:all 0.2s ease-in;
  -moz-transform: scale(1.1);
  -moz-transition:all 0.2s ease-in;
  -ms-transform: scale(1.1);
  -ms-transition:all 0.2s ease-in;
  -o-transform: scale(1.1);
  -o-transition:all 0.2s ease-in;
  transform: scale(1.1);
  transition:all 0.2s ease-in;
}

.principal_img{
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}

.principal_img:hover{
  -webkit-transform: scale(0.7);
  -webkit-transition:all 0.2s ease-in;
  -moz-transform: scale(0.7);
  -moz-transition:all 0.2s ease-in;
  -ms-transform: scale(0.7);
  -ms-transition:all 0.2s ease-in;
  -o-transform: scale(0.7);
  -o-transition:all 0.2s ease-in;
  transform: scale(0.7);
  transition:all 0.2s ease-in;
}

.heading{
    font-weight: bold;
}



