body {
    font-family: sans-serif;
    background-color: lightgray;
    margin-top: 75px;
}

.center {
   margin:0 auto;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}


html{
    font-family: sans-serif;
   
    margin:0 auto;
}

ol,li,ul{
    
    list-style: none; 
}

h4{
    font-weight: bold;
}
table{
margin:0 auto;
    
}
.projects{

margin:0 auto;
    
}
.educations{

    
}

.profile{
        max-width:800px;
        margin:0 auto;
    }
    
.container{
        max-width: 800px;
        margin: 0 auto;
        color: #1f595a;
        font-family: sans-serif;
        padding-left: 20;
        padding-right: 20;
        padding-top: 30;
}

